.container {
  height: 200px;
  padding: 10px 0;
}

.container .bar {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.container .chatContainer {
  max-height: 280px;
  overflow-y: scroll;
  background-color: white;

  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

.container .chatContainer::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}