.container {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
}

.container .chatIcon {
  background-color: var(--color-primary);
  border-radius: 300px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  cursor: pointer;

  box-shadow: 2px 0px 13px -4px rgba(221, 133, 0, 0.75);
  -webkit-box-shadow: 2px 0px 13px -4px rgba(221, 133, 0, 0.75);
  -moz-box-shadow: 2px 0px 13px -4px rgba(221, 133, 0, 0.75);
}

.container .chatbox {
  padding: 16px;
  width: 350px;
  height: 450px;
  border-radius: 16px;
  background-color: white;
  position: fixed;
  right: 35px;
  bottom: 35px;

  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}